/*  Google fonts
    font-family: 'Raleway',
    sans-serif;

    font-family: 'Roboto',
    sans-serif;
*/

/* Main colors*/
:root{
    --brandblack: #000000;
    --blacknav: #212121;
    --brandblue:#2196F3;
    --brandgray: #757575;
    --brandwhite:#FFFFFF;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--brandgray);
    font-weight: 400;
}

.nav-logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: var(--brandblack);
    text-decoration: none;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.nav-logo span{
    color:var(--brandblue)
}

.nav-main,
.nav-adres {
    font-weight: 500;
    list-style: none;
}

.nav-main a{
    text-decoration: none;
    color: var(--blacknav);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-adres a {
    text-decoration: none;
    color: var(--brandgray);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-main a:hover, .nav-adres a:hover,
.nav-main a:focus, .nav-adres a:focus{
    color: var(--brandblue);
}

.nav-botom{
    font-weight: 400;
    list-style: none;
}

.nav-botom a{
text-decoration: none;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--brandwhite);
}